.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--white-color);
  padding: 4rem 3rem;
  background: var(--background);
}

.container {
  width: 100%;
  max-width: 84.625rem;
}

.header {
  margin-bottom: 7rem;

  @media (max-width: 75rem) {
    margin-bottom: 4.375rem;
  }

  @media (max-width: 48rem) {
    margin-bottom: 2.625rem;
  }
}

.title {
  font-size: 5.75rem;
  line-height: 5.75rem;
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 1.25rem;

  @media (max-width: 75rem) {
    font-size: 4.75rem;
    line-height: 4.75rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 48rem) {
    font-size: 3.25rem;
    line-height: 3.75rem;
    margin-bottom: 0.375rem;
  }
}

.subtitle {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--pink-color);
  opacity: 0.8;

  @media (max-width: 75rem) {
    font-size: 1.25rem;
  }

  @media (max-width: 48rem) {
    font-size: 1.125rem;
  }
}

.faqGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 5.375rem;

  @media (max-width: 75rem) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 3rem;
  }

  @media (max-width: 48rem) {
    grid-template-columns: none;
    gap: 1.875rem;
  }
}

.faqItem {
  position: relative;
  transition: all 0.3s ease;
  cursor: default;

  @media (min-width: 75.063rem) {
    &:hover {
      border-color: var(--pink-color);

      .answer {
        opacity: 1;
      }

      .question {
        color: var(--white-color);
      }

      .risk {
        background-color: var(--pink-color);
        width: 100%;
      }
    }
  }

  @media (max-width: 75rem) {
    cursor: pointer;

    &.active {
      border-color: var(--pink-color);

      .answer {
        opacity: 1;
      }

      .question {
        color: var(--white-color);
      }

      .risk {
        background-color: var(--pink-color);
        width: 100%;
      }
    }
  }
}

.risk {
  width: 3.688rem;
  height: 0.125rem;
  background-color: var(--gray-color);
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;

  @media (max-width: 48rem) {
    margin-bottom: 1.063rem;
  }
}

.question {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--gray-color);
  transition: all 0.3s ease;
  margin-bottom: 0.875rem;

  @media (max-width: 48rem) {
    margin-bottom: 0.625rem;
  }
}

.answer {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white-color);
  line-height: 1.188rem;
  opacity: 0;
  transition: all 0.3s ease;
  font-family: var(--roboto), sans-serif;

  @media (max-width: 48rem) {
    font-size: 0.938rem;
    line-height: 1.25rem;
  }
}
