.water {
  @media (max-width: 62.5rem) {
    display: none;
    height: 0;
  }
}

.waterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  overflow: hidden;
}

.waterCanvas {
  display: block;

  image-rendering: optimizeQuality;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
