:root {
  --background: #000000;
  --foreground: #171717;
  --info-color: #141313;
  --white-color: #ffffff;
  --pink-color: #f80d5a;
  --gray-color: #8a959b;
  --black-color: #000000;
  --dark-gray-color: #202121;
  --pink-progress-color: #ed145b;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--montserrat), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  padding-top: 5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
