.introBanner {
  height: 804px;
  position: relative;
  margin: auto;
  width: 1495px;
}

.introBannerContent {
  overflow: hidden;
}

.introBannerImageContainer {
  height: 804px;
  position: relative;
}

.introBannerImage {
  height: 100%;
  width: 1495px;
  position: absolute;
}

.marquees {
  margin-bottom: 3.313rem;
}

.marqueeContainer {
  border-bottom: 0.125rem solid var(--white-color);
  padding: 1.8rem 0;
}

.marqueeTrack {
  display: flex;
  width: 200%;
  overflow: hidden;
}

.marqueeContent {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 400;
  white-space: nowrap;
  display: inline-block;
  color: var(--white-color);
}

.marquees02 {
  margin-top: -110px;
}

.marqueeContainer02 {
  padding: 23px 0;
  display: block;
  position: relative;
}

.marqueeTrack02 {
  gap: 45px;
  align-items: center;
  display: flex;
  position: relative;
  white-space: nowrap;
  width: 100%;
  margin-left: -25rem;
}

.marqueeContent02 {
  font-weight: 400;
  font-family: var(--montserrat), sans-serif;
  font-size: 144px;
  line-height: 144px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #545555;
}

.circle {
  min-width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #545555;
  background-color: transparent;
  display: block;
}
